@use '../variables' as text;

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: text.$text-color;
  color: text.$white;
  text-align: center;
  padding: text.$spacing-md;
  margin-top: text.$spacing-lg;
}
