@use '../variables' as variables;

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: variables.$color-text-dark; // Usar la variable correcta
  color: variables.$color-white; // Usar la variable correcta
  text-align: center;
  padding: variables.$spacing-md;
  margin-top: variables.$spacing-lg;
}
