// 1. Importar variables y mixins
@use 'variables' as vars;
@use 'mixins' as mix;
@use 'components/navbar';
@use 'components/footer';
@use 'sass:color';

// 2. Reseteo básico y estilos globales
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: vars.$font-family-primary;
  font-size: vars.$font-size-base;
  color: vars.$text-color;
  background-color: vars.$background-color;
  line-height: 1.6;
  padding-top: 50px;
  margin-bottom: 50px;
}

a {
  color: vars.$primary-color;
  text-decoration: none;
  @include mix.transition;

  &:hover {
    color: color.adjust(vars.$primary-color, $lightness: -10%);
  }
}

ul {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: vars.$font-weight-bold;
  margin-bottom: vars.$spacing-md;
}

main {
  padding: vars.$spacing-lg;
  min-height: calc(100vh - 120px); // Ajustar según la altura del header y footer
}

// 3. Estilos para componentes comunes (ej. botones)

.btn {
  @include mix.button-styles(vars.$primary-color, vars.$white);
}

.btn-secondary {
  @include mix.button-styles(vars.$secondary-color, vars.$white);
}

// Estilos para formularios
form {
  display: flex;
  flex-direction: column;
  gap: vars.$spacing-md;
  max-width: 400px;
  margin: 0 auto;
  padding: vars.$spacing-lg;
  background-color: vars.$white;
  border-radius: vars.$border-radius;
  border: 1px solid vars.$border-color;
}

form div {
  display: flex;
  flex-direction: column;
}

form label {
  margin-bottom: vars.$spacing-sm;
  font-weight: vars.$font-weight-bold;
}

form input {
  padding: vars.$spacing-sm;
  border: 1px solid vars.$border-color;
  border-radius: vars.$border-radius;
  font-size: vars.$font-size-base;
}

form button {
  @include mix.button-styles(vars.$primary-color, vars.$white);
  align-self: flex-start;
}
